{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block body %}

    <h1>Vous etes connecté en tant que {{ app.user.pseudo}} </h1>

    {{ form_start(formProfil) }}
        {{ form_row(formProfil.pseudo) }}
        {{ form_row(formProfil.prenom) }}
        {{ form_row(formProfil.nom) }}
        {{ form_row(formProfil.telephone) }}
        {{ form_row(formProfil.mail) }}
{#        <label for="MotDePasse">Mot De Passe :</label>#}
{#        <input type="password" name="MotDePasse">#}
{#        <br>#}
{#        <label for="Confirmation">Confirmation :</label>#}
{#        <input type="password" name="MotDePasse">#}
        {{ form_row(formProfil.campus) }}
    {{ form_end(formProfil) }}

{% endblock %}



