{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

    {# Affichage de la date du jour et du nom du participant #}
    <div class="info-participant">
        <div>
            <p>Date du jour : {{ 'now'|date('d/m/Y') }}</p>
            <p>Participant : {{ app.user.pseudo }}</p>
        </div>

    </div>


    {# Afficher les filtres de recherche #}
    <div>
        <h2>Filtrer les sorties</h2>

        {{ form_start(formSorties) }}
        <div class="filtres">
            <div>
                {{ form_row(formSorties.campus) }}
                {{ form_row(formSorties.recherche) }}
                <div class="date-interval">
                    {{ form_row(formSorties.dateDebut) }}
                    {{ form_row(formSorties.dateFin) }}
                </div>
            </div>
            <div>

                {{ form_row(formSorties.organisateur) }}
                {{ form_row(formSorties.inscrit) }}
                {{ form_row(formSorties.nonInscrit) }}
                {{ form_row(formSorties.sortiesPassees) }}

            </div>
        </div>
        {{ form_end(formSorties) }}


    </div>

    {# Afficher la liste des sorties #}
    <table class="tableau">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Date de clôture</th>
                <th>Nombres d'inscrits</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>


        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut.format('d/m/y') }}</td>
                <td>{{ sortie.dateLimiteInscription.format('d/m/Y') }}</td>
                <td>{{ sortie.participantsInscrits.count }}/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% if sortie.participantsInscrits.contains(app.user) %}
                        <span>X</span>
                    {% else %}
                        <span> </span>

                    {% endif %}
                </td>
                <td>
                    {% if sortie.organisateur == app.user %}
                        <a href="{{ path('profil_connecte') }}">{{ sortie.organisateur.pseudo }}</a>

                    {% else %}
                        <a href="{{ path('profil_organisateur', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                    {% endif %}

                </td>
                <td>
                    {% if sortie.etat.libelle != 'En création'%}
                        <a href="{{ path('detail_event', {'id': sortie.id}) }}">Afficher</a>

                        {% if sortie.dateLimiteInscription > date("now") and sortie.etat.libelle != 'Annulé'%}
                            {% if sortie.organisateur == app.user %}
                                <span> - </span>
                                <a href="{{ path('annuler_sortie', {'id': sortie.id}) }}">Annuler</a>
                            {% elseif sortie.participantsInscrits.contains(app.user)%}
                                <span> - </span>
                                <a href="{{ path('desinscription_participant', {'id': sortie.id}) }}">Se désister</a>
                            {% elseif sortie.participantsInscrits.count < sortie.nbInscriptionMax %}
                                <span> - </span>
                                <a href="{{ path('inscription_participant', {'id': sortie.id}) }}">S'incrire</a>
                            {% endif %}
                        {% endif %}

                    {% elseif sortie.etat.libelle == 'En création' and sortie.organisateur == app.user %}
                        <a href="{{ path('modification_sortie',  {'id' : sortie.id}) }}">Modifier</a>
                        <span> - </span>
                        <a href="">Publier</a>
                    {% endif %}
                </td>

            </tr>

        {% endfor %}
        </tbody>

    </table>


    <div>
        <button>
            <a href="{{ path('creation_sortie') }}">Créer une sortie</a>
        </button>
    </div>




{% endblock %}
